<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <!-- <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Menu</ion-list-header>
          <ion-menu-toggle auto-hide="false" *ngFor="let pages of Pages; let i = index">
            <ion-item (click)="activeIndex = i" routerDirection="root" [routerLink]="[pages.url]" lines="none"
              detail="false" [class.selected]="activeIndex == i">
              <ion-icon slot="start" [ios]="pages.icon + '-outline'" [md]="pages.icon + '-sharp'"></ion-icon>
              <ion-label>{{ pages.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane> -->
</ion-app>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLinkActive="tab-selected" routerLink="/home" class="ios" tab="home">
      <ion-icon name="list-box"></ion-icon>
      <ion-label>Inventory</ion-label>
    </ion-tab-button>
    <ion-tab-button routerLinkActive="tab-selected" routerLink="/add-inventory" class="ios" tab="add-inventory">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>Add Inventory</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

